

<table mat-table [dataSource]="tagTotal" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef> Tag </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Nombre de meme ayant ce tag </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
